<%- layout('layout/boilerplate') %>



<div style="height: 1000vh; display: flex; flex-direction: column;">
  <div style="position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;">I will stick to the screen when you reach my scroll position</div>
</div>


