<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">
    <title>Document</title>
  </head>

  <body class="bg-gray-100 flex flex-col min-h-screen min-w-full">
    <%- include('../partials/navbar') -%>

      <div class="flex-1 py-6 flex items-center justify-center">
        <div class="mx-auto w-full max-size lg:px-10">
          <%- body %>
        </div>
      </div>

      <%- include('../partials/footer') -%>

        <script>
          const burgerBtn = document.getElementById('burger-btn');
          const mobileMenu = document.getElementById('mobile-menu');

          burgerBtn.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');

            setTimeout(() => {
              mobileMenu.classList.toggle('show');
            }, 10);
          });

          document.addEventListener('DOMContentLoaded', (event) => {
            const images = document.querySelectorAll('[id^="image"]'); // CSS Atrribute selector
            const indicators = document.querySelectorAll('[id^="indicator"]');
            let currentIndex = 0;

            const showImage = (index) => {
              images.forEach((img, i) => {
                if (i === index) {
                  img.classList.remove('hidden');
                  img.classList.add('opacity-100');
                  indicators[i].classList.add('bg-white');
                  indicators[i].classList.remove('bg-gray-400');
                } else {
                  img.classList.add('hidden');
                  img.classList.remove('opacity-100');
                  indicators[i].classList.remove('bg-white');
                  indicators[i].classList.add('bg-gray-400');
                }
              });
            };

            const nextImage = () => {
              currentIndex = (currentIndex + 1) % images.length;
              showImage(currentIndex);
            };

            const prevImage = () => {
              currentIndex = (currentIndex - 1 + images.length) % images.length;
              showImage(currentIndex);
            };

            document.getElementById('next').addEventListener('click', nextImage);
            document.getElementById('prev').addEventListener('click', prevImage);

            indicators.forEach((indicator, index) => {
              indicator.addEventListener('click', () => showImage(index));
            });

            showImage(currentIndex);
          });


          const createPropertyForm = document.getElementById('createPropertyForm');
          const createPropertyButton = document.getElementById('createPropertyButton');
          createPropertyButton.disabled = true
          createPropertyButton.classList.add('disableMe');
          let allOK = false;
          Array.from(createPropertyForm.elements).forEach(x => {
            x.addEventListener('input', (event) => {
              if (x.tagName.toLowerCase() === 'input') {
                  const value = x.value.trim();
                  if (!value || !x.checkValidity()) {
                    x.classList.add('invalid'); // Add red border to invalid inputs
                    const errorSpan = x.nextElementSibling;
                    if (errorSpan && errorSpan.tagName === 'SPAN') {
                      errorSpan.classList.remove('hidden');
                    }
                  } else {
                    x.classList.remove('invalid'); // Remove red border from valid inputs
                    const errorSpan = x.nextElementSibling;
                    if (errorSpan && errorSpan.tagName === 'SPAN') {
                      errorSpan.classList.add('hidden');
                    }
                  }
                }
              allOK = true;
              Array.from(createPropertyForm.elements).forEach(element => {
                if (!(element.checkValidity())) {
                  allOK = false;
                  createPropertyButton.disabled = true
                  createPropertyButton.classList.add('disableMe');
                }

                

              })
              if (allOK) {
                createPropertyButton.disabled = false
                createPropertyButton.classList.remove('disableMe');
              } else {
                createPropertyButton.disabled = true
                createPropertyButton.classList.add('disableMe');
              }



            })
          });


          document.getElementById('createPropertyForm').addEventListener('submit', function (event) {
            let formIsValid = true;
            Array.from(this.elements).forEach(element => {
              if (!element.checkValidity()) {
                formIsValid = false;
                element.classList.add('border-red-600'); // Add red border to invalid inputs
                // Show a custom error message
                const errorSpan = element.nextElementSibling;
                if (errorSpan && errorSpan.tagName === 'SPAN') {
                  errorSpan.classList.remove('hidden');
                }
              } else {
                element.classList.remove('border-red-600'); // Remove red border from valid inputs
                const errorSpan = element.nextElementSibling;
                if (errorSpan && errorSpan.tagName === 'SPAN') {
                  errorSpan.classList.add('hidden');
                }
              }
            });

            if (!formIsValid) {
              event.preventDefault(); // Cancel form submission
              console.log('Form submission canceled due to invalid inputs.');
            } else {
              console.log('Form is valid. Submitting...');
            }
          });

        </script>


  </body>





</html>