<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">
    <title>Document</title>
  </head>

  <body class="bg-gray-100 flex flex-col min-h-screen min-w-full">
    <%- include('../partials/navbar') -%>

      <div class="flex-1 py-6 flex items-center justify-center">
        <div class="mx-auto w-full max-size lg:px-10">
          <%- body %>
        </div>
      </div>

      <%- include('../partials/footer') -%>

        <script>
          const burgerBtn = document.getElementById('burger-btn');
          const mobileMenu = document.getElementById('mobile-menu');

          burgerBtn.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');

            setTimeout(() => {
              mobileMenu.classList.toggle('show');
            }, 10);
          });

          document.addEventListener('DOMContentLoaded', (event) => {
            const images = document.querySelectorAll('[id^="image"]'); // CSS Atrribute selector
            const indicators = document.querySelectorAll('[id^="indicator"]');
            let currentIndex = 0;

            const showImage = (index) => {
              images.forEach((img, i) => {
                if (i === index) {
                  img.classList.remove('hidden');
                  img.classList.add('opacity-100');
                  indicators[i].classList.add('bg-white');
                  indicators[i].classList.remove('bg-gray-400');
                } else {
                  img.classList.add('hidden');
                  img.classList.remove('opacity-100');
                  indicators[i].classList.remove('bg-white');
                  indicators[i].classList.add('bg-gray-400');
                }
              });
            };

            const nextImage = () => {
              currentIndex = (currentIndex + 1) % images.length;
              showImage(currentIndex);
            };

            const prevImage = () => {
              currentIndex = (currentIndex - 1 + images.length) % images.length;
              showImage(currentIndex);
            };

            document.getElementById('next').addEventListener('click', nextImage);
            document.getElementById('prev').addEventListener('click', prevImage);

            indicators.forEach((indicator, index) => {
              indicator.addEventListener('click', () => showImage(index));
            });

            showImage(currentIndex);
          });



        </script>


  </body>





</html>